<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <!-- This id must match the distributionManagement section in pom.xml -->
            <id>forgerock-private-releases</id>
            <username>${env.FR_PRIVATE_REPO_USER}</username>
            <!-- Credential stored in Travis CI -->
            <password>${env.FR_PRIVATE_REPO_PASSWORD}</password>
        </server>
    </servers>
</settings>